In [1]:
import pandas as pd
import os

In [2]:
top_level_dir = 't1_training_collection_2024/t1_training/TRAINING DATA (2023 COLLECTION)/eRisk2023_T1/'
trec_csv1merged_path = os.path.join(top_level_dir, 'merged_data_v1.csv')

merged_data = pd.read_csv(trec_csv1merged_path)

In [3]:
merged_data

,docid,PRE,TEXT,POST,query_x,q0_x,rel_x,query_y,q0_y,rel_y
0,s_2163_509_6,NaN,"But I believe that, as a species, human beings...",NaN,1,0,0,1,0,0
1,s_2163_901_0,NaN,Drive it until the tires go flat and then get...,NaN,20,0,0,20,0,0
2,s_2163_904_1,NaN,So keep that in mind.,NaN,19,0,0,19,0,0
3,s_2163_921_1,NaN,"We get sick, we get hurt, we get tired of eat...",NaN,20,0,0,20,0,0
4,s_2163_950_7,NaN,It just means I'm not interested in racing my...,NaN,12,0,0,12,0,0
...,...,...,...,...,...,...,...,...,...,...
1778,s_3079_84_0,NaN,"It's sad, but true...",NaN,1,0,0,1,0,0
1779,s_3079_111_7,NaN,I don't know if I should feel guilty or relieved.,NaN,5,0,1,5,0,0
1780,s_3079_111_7,NaN,I don't know if I should feel guilty or relieved.,NaN,5,0,1,6,0,0
1781,s_3079_111_7,NaN,I don't know if I should feel guilty or relieved.,NaN,6,0,0,5,0,0
1782,s_3079_111_7,NaN,I don't know if I should feel guilty or relieved.,NaN,6,0,0,6,0,0