In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Load tabulated_trec_data.csv and view head (4)
df = pd.read_csv('tabulated_trec_data.csv')
df.head(4)

        docid  PRE                                               TEXT  POST
0  s_1287_0_0  NaN                                         Thank you.   NaN
1  s_1287_0_1  NaN  I kind of agree, but I thought that made it lo...   NaN
2  s_1287_1_0  NaN   I thought it looked good :( maybe it's the li...   NaN
3  s_1287_1_1  NaN                               Tasted great though!   NaN

In [3]:
# Load merged_clean_data.csv and view head (4)
df = pd.read_csv('merged_clean_data.csv')
df.head(4)

,docid,PRE,TEXT,POST,query,q0,rel
0,s_1287_153_5,NaN,"So now I haven't eaten in several hours, I fee...",NaN,18,0,0
1,s_1287_211_2,NaN,People have a want for immediate pleasure now ...,NaN,4,0,0
2,s_1287_305_7,NaN,I've had to change my life plans recently to t...,NaN,2,0,0
3,s_1287_337_5,NaN,Even then I get an occasional feeling of hate ...,NaN,7,0,0

In [4]:
# Load persons_and_emotions.csv and view head (4)
df = pd.read_csv('persons_and_emotions.csv')
df.head(4)

,docid,PRE,TEXT,POST,query,q0,rel,polarity,self_ref
0,s_1287_337_31,NaN,I'm scared I'm becoming a huge failure and dis...,NaN,2,0,1,neg,1
1,s_144_366_0,NaN,I have no guilt over anything I read.,NaN,5,0,0,neg,1
2,s_2462_253_4,NaN,A failure isnt a failure unless you refuse to ...,NaN,3,0,0,neg,1
3,s_2462_923_8,NaN,I worry about myself.,NaN,20,0,0,neg,1

In [5]:
# Load augmented_exploded.csv and view head (4)
df = pd.read_csv('augmented_exploded.csv')
df.head(4)

,Question,Severity,Text,EMB
0,1,1,I do not feel sad,"tensor([[ 6.7947e-02, -5.6082e-02, 3.9900e-01..."
1,1,1,I am not experiencing sadness,"tensor([[ 5.6563e-01, -1.1386e-01, 1.2451e-01..."
2,1,1,I don’t feel down,"tensor([[-4.3581e-02, -2.0793e-01, 1.8566e-01..."
3,1,1,I’m not feeling unhappy,"tensor([[ 1.7957e-01, -1.3983e-01, 2.3431e-01..."